.progress-bar {
  height: 2px;
  background-color: var(--palette-grey);

  &__line {
    position: relative;
    height: 2px;
    background-color: var(--palette-yellow);
    transition: width 0.15s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -1px;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      background-color: var(--palette-yellow);
      border: 2px solid var(--palette-primary);
      border-radius: 50%;
    }
  }
}