.progress-bar {
  margin: 20px 0;
  height: 2px;
  background-color: var(--palette-grey);

  &__line {
    position: relative;
    height: 2px;
    background-color: var(--palette-yellow);
    transition: width 0.15s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -7px;
      transform: translateY(-50%);
      width: 5px;
      height: 5px;
      background-color: var(--palette-yellow);
      border: 2px solid #ffffff;
      border-radius: 50%;
      cursor: pointer;
      transition: transform .16s ease-in-out;
    }

    &:hover {
      &::after {
        transform: translateY(-50%) scale(1.9);
      }
    }
  }
}